<h2>Welcome to Trip Details!!!</h2>

<table class="table" >  
  <tr ngclass="btn-primary">  
    <th class="tbl2">TripId</th>  
    <th class="tbl2">UserId</th>  
    <th class="tbl2">TripName</th>  
    <th class="tbl2">Source</th>  
    <th class="tbl2">Destination</th>  
    <th class="tbl2">Fare</th>  
    <th class="tbl2">Duration</th>  
     
  </tr>  
  <tr *ngFor="let trip of allTripDetails | async"> 
    <td class="tbl2" align="center">{{trip.trip_id}}</td> 
    <td class="tbl2" align="center">{{trip.user_Id}}</td>  
    <td class="tbl2" align="center">{{trip.trip_Name}}</td>  
    <td class="tbl2" align="center">{{trip.source}}</td>  
    <td class="tbl2" align="center">{{trip.destination}}</td>  
    <td class="tbl2" align="center">{{trip.fare}}</td>  
    <td class="tbl2" align="center">{{trip.duration}}</td> 
    
    
    <!-- <td class="tbl2">  
      <button type="button" class="btn btn-info"matTooltip="Click Edit Button"(click)="loadEmployeeToEdit(employee.EmpId)">Edit</button>  
    </td>  
    <td class="tbl2">  
      <button type="button" class="btn btn-danger"matTooltip="Click Delete Button"(click)="deleteEmployee(employee.EmpId)">Delete</button>  
    </td>   -->
  </tr>  

</table>

<!-- <ag-grid-angular 
    style="width: 500px; height: 500px;" 
    class="ag-theme-balham"
    [rowData]="allTripDetails | async" 
    [columnDefs]="columnDefs"
    [modules]="modules">
</ag-grid-angular> -->

